header{
    width:70%;
}
.home-body{
    float: right;
    width: 62%;
    margin: 30px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:30px;
}

.not-box{
    background-color:#5CCBC0;
    color:#491c1a;
    border-radius: 7px;
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.not-box>h2{
    grid-column-start: 1;
    grid-column-end: 5;
    font: 100 25px/1.3 'Arizonia', Helvetica, sans-serif;
}

.recipe-box{
    padding:5px;
    text-align: center;
}

.recipe-box>img{
    width:100px;
}